* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-color: rgb(33, 33, 33);
    background-image: url(https://img.freepik.com/free-photo/digital-transformation-corporate-wallpaper_53876-97646.jpg?w=2000);
    background-repeat: repeat-x;
}
.left {
    margin-top: 4%;
    margin-left: 6%;
}
.level {
    font-size: 40px;
    font-family: monospace;
    background: -webkit-linear-gradient(gold 45%, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.75;
}
.levelStats {
    font-size: 30px;
    color: rgb(155, 155, 155);
    opacity: 0.75;
}
.Attributes {
    font-size: 25px;
    font-family: monospace;
    color: rgb(155, 155, 155);
    opacity: 0.75;
}

pre {
    display: inline-block;
    font-size: 20px;
    color: rgb(155, 155, 155);
}

.stats { 
    display: inline-block;
    font-size: 21px;
    font-family: monospace;
    color: rgb(186, 186, 186);
    opacity: 0.75;
}

.backgroundP {
    position: relative;
    display: inline-block;
    background-color: rgb(65, 65, 65);
    width: 20%;
    border-radius: 25px;
    padding-top: 3px;
    padding-left: 4px;
    z-index: 2;
    opacity: 0.75;
}
.PLevel {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 23px;
    background: linear-gradient(to right, #9ce6fcfa , #9751fa);
    border-radius: 25px;
    opacity: 0.75;
}
.ProgressBars {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 17px;
    background: linear-gradient(to right, #9ce6fcfa , #9751fa);
    border-radius: 25px;
    z-index: 2;
    opacity: 0.75;
}
/* shows exp */
.PText { 
    margin-top: -5px;
    margin-left: -4px;
    padding-top: 4px;
    padding-left: 4px ;
    position: absolute; 
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 0;
    color: rgb(155, 155, 155);
    opacity: 0.75;
}
.PText:hover {
    z-index: 3;
    opacity: 1; 
    color: rgb(218, 218, 218);   
}

button {
    border-radius: 10px;
    width: 3%;
}
.btn5 {
    background-color: #CD7F32;
    opacity: 0.75;
}
.btn25 {
    background-color: #FFD700;
    opacity: 0.75;
}
.btn100 {
    background-color: #58dcfa;
    opacity: 0.75;
}
.btnD {
    background-color: #fd7958;
    opacity: 0.75;
}

